/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');



/* HTML */
html {
    font-family: 'Ubuntu', sans-serif;
    scroll-behavior: smooth;
}



/* BODY */
body {
    overflow-x: hidden;
    background-color: #202020;
    width: 100%;
    height: 100%;
    margin: 0;
}



/* THANK YOU SECTION */
.thank-you-title {
    position: relative;
    color: #ffda09;
    text-align: center;
    letter-spacing: 3px;
    font-size: 72px;
    top: 252px;
}
.fa-check {
    position: relative;
    color: #ffda09;
    top: 234px;
    left: 899px;
}
.thank-you-text {
    position: relative;
    color: #ffda09;
    text-align: center;
    font-size: 17px;
    top: 250px;
}