/* BODY */
body {
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #0d232c;
}


/* CONFIRMATION SECTION */
.box-container {
    position: fixed;
    width: 1140px;
    height: 698px;
    left: 390px;
    top: 191px;
    background-color: white;
}
.logo-container img {
    position: fixed;
    margin: 0;
    object-fit: contain;
    height: 42px;
    left: 440px;
    top: 228px;
}
.text-1 p {
    position: fixed;
    margin: 0;
    left: 510px;
    top: 380px;
    font-weight: bold;
    font-size: 42px;
    color: #122E3B;
}
.text-2 p {
    position: fixed;
    margin: 0;
    left: 513px;
    top: 460px;
    font-weight: bold;
    font-size: 17px;
    color: #122E3B;
}
#email {
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    position: fixed;
    margin: 0;
    width: 380px;
    height: 40px;
    left: 513px;
    top: 570px;
    font-weight: bold;
    font-size: 17px;
    background-color: transparent;
    border-style: solid;
    border-color: #122E3B;
    border-width: 0px 0px 2px 0px;
}
#email::placeholder {
    opacity: 1;
}
#submit {
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    transition: 150ms;
    position: fixed;
    margin: 0;
    width: 217px;
    height: 50px;
    left: 513px;
    top: 650px;
    font-weight: bold;
    font-size: 17px;
    color: #122E3B;
    background-color: transparent;
    border-style: solid;
    border-color: #122E3B;
    border-width: 3px;
}
#submit:hover {
    color: white;
    background-color: #122E3B;
}
#submit:active {
    transform: scale(0.93);
}
.hyperlink-1 a {
    position: fixed;
    margin: 0;
    font-weight: bold;
    font-style: oblique;
    font-size: 15px;
    color: #122E3B;
    text-decoration: none;
    left: 440px;
    top: 844px;
}
.hyperlink-1 a:hover {
    text-decoration: underline;
}