/* BODY */
body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #0d232c;
}


/* HEADER CONTENT */
p {
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    color: white;
}
.header-content p {
    margin: 0;
    position: fixed;
    font-weight: bold;
    font-size: 52px;
    left: 526px;
    top: 280px;
}
.main-content img {
    margin: 0;
    position: fixed;
    object-fit: contain;
    height: 50px;
    left: 927px;
    top: 473px;
}
.footer-content p {
    margin: 0;
    position: fixed;
    font-size: 21px;
    text-align: center;
    left: 673px;
    top: 661px;
}