/* BODY */
body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #0d232c;
}


/* LOGO */
.logo-box img {
    position: fixed;
    object-fit: contain;
    height: 69px;
    left: 71px;
    top: 61px;
}


/* CONTENT HEADER SECTION*/
.content-header-container {
    position: fixed;
}
.content-header-container p {
    position: fixed;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    position: fixed;
    color: white;
}
.text-1 p {
    font-weight: bold;
    font-size: 52px;
    left: 757px;
    top: 242px;
}
.text-2 p {
    font-size: 35px;
    left: 760px;
    top: 326px;
}
.text-3 p {
    text-align: center;
    left: 680px;
    top: 456px;
}


/* .FORM SECTION */
.input-1 input {
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    text-align: center;
    position: fixed;
    width: 420px;
    height: 75px;
    left: 750px;
    top: 549px;
    font-weight: bold;
    font-size: 21px;
}
.input-2 input {
    transition: 150ms;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    position: fixed;
    font-weight: bold;
    font-size: 21px;
    width: 241px;
    height: 70px;
    color: white;
    background-color: #5172D6;
    border-style: none;
    left: 840px;
    top: 679px;
}
.input-2 input:hover {
    transform: scale(1.07);
}
.input-2 input:active {
    transform: scale(1);
}