/* NAVBAR SECTION */
nav {
    position: sticky;
    top: 0;
    width: 100%;
    height: 102px;
    background-color: white;
}
.header-logo img {
    position: fixed;
    object-fit: contain;
    height: 45px;
    top: 29px;
    left: 400px;
    filter: invert(100%);
}
#search {
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    position: fixed;
    margin: 0;
    width: 300px;
    height: 40px;
    left: 562px;
    top: 35px;
    background-color: white;
    border-style: solid;
    border-color: #9D9D9D;
    border-width: 1px;
    font-size: 15px;
}
div a {
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    color: black;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
}
div a:hover {
    text-decoration: underline;
}
.hyperlink-1 a {
    position: fixed;
    padding-top: 43.5px;
    padding-bottom: 43.5px;
    left: 998px;
}
.hyperlink-2 a {
    position: fixed;
    padding-top: 43.5px;
    padding-bottom: 43.5px;
    left: 1120px;
}
.hyperlink-3 a {
    position: fixed;
    padding-top: 43.5px;
    padding-bottom: 43.5px;
    left: 1270px;
}
.profile-icon img {
    position: fixed;
    margin: 0;
    object-fit: contain;
    height: 50px;
    left: 1448px;
    top: 27px;
}
.text-1 p {
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    margin: 0;
    color: black;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    position: fixed;
    padding-top: 43.5px;
    padding-bottom: 43.5px;
    padding-left: 90px;
    left: 1438px;
}
.text-1 p:hover {
    cursor: pointer;
    text-decoration: underline;
}
.profile-dropdown {
    position: fixed;
    background-color: white;
    top: 109px;
    left: 1370px;
    width: 300px;
    height: 100px;
    box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.349);
}
.profile-dropdown button {
    transition: 150ms;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    position: relative;
    width: 100%;
    height: 50px;
    background-color: transparent;
    border-style: none;
    font-weight: bold;
}
.profile-dropdown button:hover {
    cursor: pointer;
    background-color: #065B64;
    color: white;
}