/* BODY */
body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #0d232c;
}


/* REGISTER SECTION */
.box-container {
    position: fixed;
    background-color: #0c373f;
    width: 1410px;
    height: 710px;
    top: 145px;
    left: 255px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.27);
}
.bg-img img {
    position: fixed;
    left: 600px;
    object-fit: contain;
    height: 710px;
    opacity: 0.87;
    z-index: -1;
}
.header-logo img {
    position: fixed;
    object-fit: contain;
    height: 42px;
    left: 290px;
    top: 177px;
}
.shape-1 {
    position: fixed;
    width: 10px;
    height: 10px;
    background-color: #00D4C0;
    left: 850px;
    top: 305px;
    opacity: 0.5;
}
.header-form h3{
    position: fixed;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    color: white;
    font-weight: bold;
    font-size: 42px;
    left: 420px;
    top: 230px;
}


/* TEXTFIELDS */
.form-container form input {
    position: fixed;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    background-color: transparent;
    color: white;
    font-weight: bold;
    font-size: 13px;
    border-style: solid;
    border-color: white;
    border-width: 0px 0px 2px 0px;
    width: 210px;
    height: 40px;
}
.form-container form input::placeholder {
    color: white;
    opacity: 0.7;
}
#firstname {
    left: 420px;
    top: 385px;
}
#lastname {
    left: 690px;
    top: 385px;
}
#username {
    left: 420px;
    top: 455px;
}
#email {
    left: 690px;
    top: 455px;
}
#address {
    left: 420px;
    top: 525px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
#contact {
    left: 690px;
    top: 525px;
}
#password {
    left: 420px;
    top: 595px;
}
#confirmPass {
    left: 690px;
    top: 595px;
}


/* SUBMIT BUTTON */
#submit {
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif !important;
    position: fixed !important;
    font-size: 13px !important;
    font-weight: bold !important;
    left: 590px !important;
    top: 677px !important;
    transition: 150ms !important;
    color: #5172D6 !important;
    background-color: transparent !important;
    border-width: 3px !important;
    border-color: #5172D6 !important;
    width: 140px !important;
    height: 40px !important;
    border-style: solid !important;
}
#submit:hover {
    color: white !important;
    background-color: #5172D6 !important;
}
#submit:active {
    transform: scale(0.93) !important;
}
.back a {
    position: fixed;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-style: oblique;
    font-weight: bold;
    font-size: 13px;
    text-decoration: none;
    color: white;
    left: 290px;
    top: 800px;
    padding: 10px 10px 10px 10px;
}
.back a:hover {
    text-decoration: underline;
}
.text-1 p {
    position: fixed;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-size: 13px;
    color: white;
    left: 573px;
    top: 737px;
}
.text-2 a {
    text-decoration: none;
    color: #00D4C0;
}
.text-2 p {
    position: fixed;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-size: 13px;
    font-weight: bold;
    opacity: 0.78;
    left: 706px;
    top: 747px;
    margin: 3px 3px 3px 3px;
}
.text-2 a:hover {
    text-decoration: underline;
}