@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

/* HTML */
html {
    font-family: 'Ubuntu', sans-serif;
    scroll-behavior: smooth;
}




/* BODY */
body {
    overflow-x: hidden;
    background-color: #202020;
    width: 100%;
    height: 1008px;
    margin: 0;
}







/* MAIN BODY LIST AND SEARCH */
.main-content-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.search-container {
    display: flex;
    position: absolute;
    background-color: #202020;
    height: 100%;
    width: 436px;
    align-items: center;
    justify-content: center;
}

.search-box {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4b4b4b;
    width: 318px;
    height: 725px;
    top: 209px;
}

.search-title {
    position: relative;
    color: #ffda09;
    top: 155px;
    left: -29px;
    letter-spacing: 1px;
}

.search-form input {
    font-family: 'Ubuntu', sans-serif;
    position: relative;
    background-color: transparent;
    border-style: solid;
    border-width: 2px;
    border-color: #ffda09;
    color: #ffda09;
    width: 150px;
    height: 25px;
    padding: 3px 15px 3px 15px;
    top: 150px;
}

.search-form input::placeholder {
    opacity: 0.5;
    color: #ffda09;
}

.search-description {
    position: relative;
    color: #ffda09;
    text-align: justify;
    width: 180px;
    top: 160px;
}

.car-list-container {
    display: flex;
    position: absolute;
    background-color: #202020;
    height: 100%;
    width: 100%;
    left: 435px;
}

.list-title-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    background-color: #4b4b4b;
    width: 100%;
    height: 135px;
    top: 144px;
    border-style: solid;
    border-width: 0px 0px 50px 0px;
    border-color: #202020;
}

.list-title {
    position: relative;
    color: #ffda09;
    letter-spacing: 1px;
    text-align: center;
    left: -180px;
}

.list-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    top: 382px;
    left: 56px;
    width: 1335px;
    height: 576px;
}

/* Float four columns side by side */
.column {
    float: left;
    width: 23%;
    padding: 0 13px 21px;
}

/* Remove extra left and right margins, due to padding */
.row {
    margin: 0 0px;
    width: 100%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

/* Style the counter cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
}

.card img {
    object-fit: contain;
    width: 100%;
}
.warning-msg {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.warning-msg p {
    color: red;
    font-size: 21px;
}